:root{
    --background: #FFEFFF;
    --text-color: black;
    --front-background: #C19EC5;
    --container-title: #C19EC5;
    --container-game: #824C8B;
    --container-extreme: #824C8B;
    --container-level: #fae1e1;
    --result-ganas: #b4ffd3;
    --result-pierdes:#EA4F63;
    --container-difficulty: #FF8999;
    --container-target: #98DDEB;
    --color1-shadow: #FF8999;
    --color1-block: #F91052;
    --color2-shadow: #98DDEB;
    --color2-block: #2D74C5;
    --start-button: #FFEFFF;
}

* {
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-color);
  }

body {
  max-width: 800px;
  width: 50vw;
  aspect-ratio: 1/1;
  margin: 10px auto;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
}

header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 1.5vw sans-serif;
  border-radius: 10px 10px 10px 10px;
}

main {
  width: 100%;
  height: 85%;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.front{
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--front-background);
  font-size: 3vh;
  position: relative;
}

.initialMessage{
  width: 100%;
  height: 50%;
}

.gameLevel{
  width: 100%;
  height: 50%;
  position: relative;
}

.container {
  width: 0%;
  height: 0%;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  display: none;
  flex-direction: column;
  align-items: center;
}

.title {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: var(--container-title);
  display: flex;
  justify-content: center;
  align-items: center;
  font: 1vw sans-serif;
  border-radius: 10px 10px 0px 0px;
}

.game {
  width: 100%;
  height: 80%;
  background-color: var(--container-game);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  border-radius: 0px 0px 10px 10px;
}

.timer, .score{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
  background-color: transparent;
}

.timer{
  border-radius: 0px 0px 0px 10px;
}

.score{
  border-radius: 0px 0px 10px 0px;
}

.timer, .score > p{
  font-size: 4vw;
}

.result{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0%;
  height: 0%;
  font-size: 5vh;
  border-radius: 10px 10px 10px 10px;
}

.level{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: var(--container-level);
  position: relative;
  border-radius: 10px 10px 10px 10px;
}

.difficulty{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 8%;
  background-color: var(--container-difficulty);
  position: absolute;
  top: -5%;
  left: 40%;
  z-index: 4;
  font-size: 1vw;
  border-radius: 5px 5px 5px 5px;
}

.blocks{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 90%;
  background-color: transparent;
  position: absolute;
  top: 5%;
  left: 5%;
}

.target{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 25%;
  background-color: var(--container-target);
  position: absolute;
  top: 10%;
  right: 5%;
  border-radius: 10px 10px 10px 10px;
}

.target > h1{
  position: absolute; 
  font-size: 5vw;
  top: -15%;
}

.target > h3{
  position: absolute;
  font-size: 1.2vw;
  top: -5%; 
}

.data{
  width: 40%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  border-radius: 5px 5px 5px 5px;
  font-size: 2vw;
}

.color1{
  background: repeating-linear-gradient(
    var(--color1-shadow), 
    var(--color1-shadow) 10%, 
    var(--color1-block) 10%,
    var(--color1-block) 100%);
}

.color2{
  background: repeating-linear-gradient(
    var(--color2-shadow), 
    var(--color2-shadow) 10%, 
    var(--color2-block) 10%,
    var(--color2-block) 100%);
}

/* start button style */
.start{
  background-color: var(--start-button);
  position: absolute;
  top: 50%;
  left: 40%;
  width: 25%;
  height: 10%;
  border-radius: 10px;
  font-size: 1.5vw;
  font-weight: 550;
}

.instruccions{
  position: absolute;
  top: 10%;
  left: 5%;
  right: 5%;
  text-align: justify;
  font-weight: 549;
}

.finalScore{
  position: absolute;
  top: 20%;
  left: 10%;
  text-align: left;
  font-size: 3vw;
  font-weight: 600;
}

.count{
  position: absolute;
  top: 10%;
  left: 45%;
  text-align: center;
  font-size: 8vw;
  font-weight: 600;
}

.score > h1{
  position: absolute; 
  font-size: 5vw;
  top: 30%;
}

.score > h3{
  position: absolute;
  font-size: 1.5vw;
  top: 25%; 
}
