* {
    box-sizing: border-box
  }

body {
  max-width: 800px;
  width: 50vw;
  aspect-ratio: 1/1;
  margin: 10px auto;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 1.5vw sans-serif;
  border-radius: 10px 10px 10px 10px;
}

main {
  width: 100%;
  height: 85%;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.title {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-color:#f8daec;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 1vw sans-serif;
  border-radius: 10px 10px 0px 0px;
}

.game {
  width: 100%;
  height: 70%;
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.instructions {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  background-color: green;
  border-radius: 0px 0px 10px 10px;
  font-size: 1vw;
}

.instructions > p{
  padding-left: 1%;
  padding-right: 1%;
}

.timer, .score{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
  background-color: aqua;
}

.timer, .score > p{
  font-size: 4vw;
}

.level{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: lightblue;
  position: relative;
}

.difficulty{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 8%;
  background-color: rgb(238, 179, 18);
  position: absolute;
  top: -5%;
  left: 45%;
  z-index: 4;
  font-size: 1vw;
  border-radius: 5px 5px 5px 5px;
}

.blocks{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 90%;
  background-color: transparent;
  position: absolute;
  top: 5%;
  left: 5%;
}

.target{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 30%;
  background-color: rgb(238, 179, 18);
  position: absolute;
  top: 10%;
  right: 5%;
}

.target > h1{
  position: absolute; 
  font-size: 5vw;
  top: -20%;
}

.target > h3{
  position: absolute;
  font-size: 1.2vw;
  top: -5%; 
}

.data{
  width: 40%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  border-radius: 5px 5px 5px 5px;
  font-size: 2vw;
}

.color1{
  background: repeating-linear-gradient(
    #f7bcbc, 
    #f7bcbc 10%, 
    rgb(255, 136, 156) 10%,
    rgb(255, 136, 156) 100%);
}

.color2{
  background: repeating-linear-gradient(
    #bce1f7, 
    #bce1f7 10%, 
    #20a8f7 10%,
    #20a8f7 100%);
}

/* start button style */
.start{
  background-color: aquamarine;
}





